// Center block
@mixin btn-primary {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	// padding: 15px 40px 16px;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	&:hover,
	&:active,
	&:focus {
		color: #fff;
		background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
		border: none;
	}
	i {
		color: #fff;
	}
}

@mixin btn-primary-2 {
	background: #fff;
	line-height: 1;
	// padding: 15px 40px 16px;
	font-size: 18px;
	color: #DD4600;
	border-radius: 3px;
	border: 2px solid #DD4600;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}