@charset 'utf-8';
/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here */
@font-face {
	font-family: 'SH Imogen Agnes';
	src: url('fonts/SH Imogen Agnes.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'HawaiiLover';
	src: url('fonts/HawaiiLover.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Getsu Magic';
	src: url('fonts/Getsu Magic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SanFranciscoDisplay';
	src: url('fonts/SanFranciscoDisplay-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SanFranciscoDisplay';
	src: url('fonts/SanFranciscoDisplay-Bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'SanFranciscoDisplay';
	src: url('fonts/SanFranciscoDisplay-Medium.otf') format('opentype');
	font-weight: 500;
}

@import 'mixin';
@import 'page/home';
@import 'page/post';
@import 'page/bai-du-thi';
@import 'widget/recent-posts';
@import 'widget/trending';
