@charset "UTF-8";
/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
/* Add your custom styles here */
@font-face {
	font-family: 'SH Imogen Agnes';
	src: url("fonts/SH Imogen Agnes.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'HawaiiLover';
	src: url("fonts/HawaiiLover.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'Getsu Magic';
	src: url("fonts/Getsu Magic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SanFranciscoDisplay';
	src: url("fonts/SanFranciscoDisplay-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SanFranciscoDisplay';
	src: url("fonts/SanFranciscoDisplay-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: 'SanFranciscoDisplay';
	src: url("fonts/SanFranciscoDisplay-Medium.otf") format("opentype");
	font-weight: 500;
}

.btn {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
	padding: 11px 24px;
}

.btn:hover, .btn:active, .btn:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.btn i {
	color: #fff;
}

.btn-primary {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.btn-primary i {
	color: #fff;
}

.btn-primary-2 {
	background: #fff;
	line-height: 1;
	font-size: 18px;
	color: #DD4600;
	border-radius: 3px;
	border: 2px solid #DD4600;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

table td {
	padding: 8px 1.5em;
}

i {
	color: #B3ABAA;
}

/*
 * Menu
 */
.fl-page-nav-right {
	text-align: left;
}

.fl-page-nav-right .fl-page-header-wrap {
	border-bottom: none;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.fl-page-header,
.fl-page-header.fl-page-header-fixed {
	border-top: 4px solid #F9C82C;
}

.fl-page-header {
	border-top: 4px solid #F9C82C;
}

.fl-page-header .col-md-8.fl-page-nav-col,
.fl-page-header .col-md-9.fl-page-fixed-nav-wrap,
.fl-page-header .col-md-3.fl-page-logo-wrap,
.fl-page-header .col-md-4.fl-page-header-logo-col {
	width: auto;
}

.fl-page-header .navbar-nav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.fl-page-header .navbar-nav li > a {
	letter-spacing: 0.1em;
}

.fl-page-header .fl-page-header-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu_button {
	margin: 0 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu_button > a {
	color: #fff;
	padding: 8px 37px;
	letter-spacing: 0;
	font-weight: 700;
	text-transform: none;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line {
	margin-left: 70px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line a {
	font-weight: 400;
	display: flex;
	padding-right: 0;
	margin-right: -35px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line a:hover * {
	color: #CA2000;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line i {
	font-size: 30px;
	color: #B3ABAA;
	transform: rotate(90deg);
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line .hot-line__text {
	display: flex;
	flex-flow: row wrap;
	margin-left: 20px;
	text-transform: none;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line .hot-line__number {
	font-size: 18px;
	line-height: normal;
	color: #CA2000;
	width: 100%;
	font-weight: 700;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.btn-primary-2 {
	color: #CA2000 !important;
	border: 2px solid #DD4600 !important;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.btn-primary-2 a {
	color: #CA2000 !important;
	padding: 6px 37px;
}

.fl-page-nav-right .fl-page-nav-wrap a.fas,
.fl-page-nav-right .fl-page-nav-wrap a.fab {
	color: #B3ABAA;
}

.fl-page-nav-search a.fa-search {
	font-size: 13px;
	margin-left: 25px;
}

@media (min-width: 1100px) {
	.fl-full-width .fl-page-header .container {
		width: auto;
		max-width: 100%;
		margin: 0 40px;
		padding: 3px 0;
	}
}

@media (max-width: 1599px) {
	.fl-page-header .fl-page-header-row {
		justify-content: center;
	}
}

@media (max-width: 1440px) {
	.fl-full-width .fl-page-header .container {
		margin: 0;
	}
	.fl-page-header .col-md-8.fl-page-nav-col,
	.fl-page-header .col-md-9.fl-page-fixed-nav-wrap,
	.fl-page-header .col-md-3.fl-page-logo-wrap,
	.fl-page-header .col-md-4.fl-page-header-logo-col {
		padding: 0;
	}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line {
		margin-left: 0;
	}
	.fl-page-nav-search {
		display: block;
	}
	.fl-page-nav-search a.fa-search {
		margin-left: 10px;
	}
}

@media (max-width: 1367px) {
	.fl-page-header .col-md-8.fl-page-nav-col,
	.fl-page-header .col-md-9.fl-page-fixed-nav-wrap,
	.fl-page-header .col-md-3.fl-page-logo-wrap,
	.fl-page-header .col-md-4.fl-page-header-logo-col {
		padding: 0;
	}
}

@media (max-width: 1280px) {
	.fl-page-header .col-md-8.fl-page-nav-col,
	.fl-page-header .col-md-9.fl-page-fixed-nav-wrap,
	.fl-page-header .col-md-3.fl-page-logo-wrap,
	.fl-page-header .col-md-4.fl-page-header-logo-col {
		padding: 0 15px;
	}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line {
		display: none;
	}
}

@media (max-width: 1100px) {
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu_button {
		display: none;
	}
}

@media (max-width: 991px) {
	.fl-page-header .fl-page-header-row {
		justify-content: center;
	}
	.fl-page-header .col-md-8.fl-page-nav-col,
	.fl-page-header .col-md-9.fl-page-fixed-nav-wrap,
	.fl-page-header .col-md-3.fl-page-logo-wrap,
	.fl-page-header .col-md-4.fl-page-header-logo-col {
		padding: 0 15px;
	}
}

@media (max-width: 575px) {
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu_button {
		margin: 10px;
	}
	li.menu_button.btn-primary a {
		color: #fff !important;
	}
}

/*
 * Hero
 */
.box-hero {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(38%, -50%);
}

.box-hero .box-hero__wrapper {
	position: relative;
	z-index: 0;
	padding: 70px 70px 62px 62px;
}

.box-hero .box-hero__wrapper:before {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 32px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.box-hero .box-hero__img {
	margin-bottom: 15px;
}

.box-hero .btn-primary {
	padding: 18px 51px;
}

.box-hero .btn-primary i {
	padding-left: 5px;
}

.box-hero .tim-hieu-them {
	font-size: 18px;
	line-height: normal;
	color: #FFFFFF;
	margin-left: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	padding-bottom: 2px;
}

/*
 * Giới thiệu
 */
.section-gioithieu .fl-col-group {
	padding: 73px 0 65px;
}

.section-gioithieu .fl-col {
	flex: unset;
}

.section-gioithieu .fl-heading-text {
	color: #1A1312;
}

.section-gioithieu .fl-heading-text span {
	color: #B3ABAA;
}

.gioi-thieu__video {
	position: absolute;
	right: 8vw;
	width: 685px;
	top: 49%;
	transform: translate(0%, -50%);
}

@media (max-width: 1600px) {
	.gioi-thieu__video {
		right: 0vw;
	}
}

.gioi-thieu__video.left {
	left: 8vw;
	top: 50%;
}

@media (max-width: 1600px) {
	.gioi-thieu__video.left {
		left: 0vw;
	}
}

.gioi-thieu__video .fluid-width-video-wrapper {
	height: 495px;
}

.gioi-thieu__video-right-text {
	margin-left: 46%;
}

.gioi-thieu {
	font-size: 18px;
	line-height: 32px;
	color: #4D4949;
}

/*
 * Statistic
 */
.statistic--item p {
	margin: 0;
}

.statistic--item .fl-callout-photo-left {
	display: flex;
}

.statistic--item .fl-callout-photo {
	padding-right: 16px;
	width: auto;
	transition: all .3s;
}

.statistic--item .fl-callout-photo:hover {
	transform: scale(1.1);
}

.statistic--item .fl-callout-title {
	padding: 0;
	margin-top: 10px;
}

.statistic--item .fl-callout-title-text {
	font-size: 36px;
	color: #F97300;
	font-weight: 500;
	line-height: 1;
}

.statistic--item .fl-callout-content {
	width: auto;
}

.statistic-number {
	font-size: 36px;
	color: #F97300;
	font-weight: 500;
	line-height: 1;
}

.statistic-text {
	font-size: 16px;
	color: #1A1312;
}

/*
 * Section post(mansory)
 */
.section-post .fl-post-grid-post .fl-post-image a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	transition: .3s ease all;
}

.section-post .fl-post-grid-image,
.section-post .fl-post-image {
	position: static;
}

.section-post .fl-post-grid-text,
.section-post .fl-post-text {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.section-post .fl-post-grid-text h2,
.section-post .fl-post-text h2 {
	line-height: 34px;
}

.section-post .fl-post-grid-text h2 a,
.section-post .fl-post-text h2 a {
	transition: .3s ease all;
	font-size: 36px;
	color: #FFFFFF;
}

.section-post .fl-post-grid-text h2 a:hover,
.section-post .fl-post-text h2 a:hover {
	color: #f97300;
}

.section-post .fl-post-grid-date,
.section-post .fl-post-meta {
	font-size: 15px;
	line-height: 27px;
	color: #F6F6F6;
	padding: 0;
}

.section-post .fl-post-category {
	margin-bottom: 20px;
}

.section-post .fl-post-category a {
	font-size: 12px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #1A1312;
	background: #F9C82C;
	padding: 6px 11px 5px;
}

/*
 * Section 3 box
 */
.threebox .fl-col-group {
	margin: 0 -15px;
}

.threebox .uabb-infobox .uabb-infobox-text p {
	padding: 0;
	display: flex;
}

.threebox .uabb-infobox .uabb-infobox-text p i {
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
}

.threebox .uabb-infobox .uabb-infobox-title-wrap {
	text-align: center;
}

.threebox .uabb-infobox .uabb-infobox-title-wrap:after {
	content: '';
	margin: 0 auto;
	margin-bottom: 25px;
	display: block;
	width: 80px;
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
}

.threebox .fl-col-group-equal-height .fl-col-content {
	flex-direction: row;
	transition: all .3s;
}

.threebox .fl-col-group-equal-height .fl-col-content:hover {
	transform: translateY(-6px);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.threebox .fl-col-group-equal-height .fl-col-content:hover .fl-module-info-box .fl-module-content:before, .threebox .fl-col-group-equal-height .fl-col-content:hover .fl-module-info-box .fl-module-content:after {
	width: 100%;
	height: 100%;
	visibility: visible;
}

.threebox .fl-col-group-equal-height .fl-col-content:hover .fl-module-info-box .fl-module-content:before {
	transition: width 0.1s ease, height 0.1s ease 0.1s;
}

.threebox .fl-col-group-equal-height .fl-col-content:hover .fl-module-info-box .fl-module-content:after {
	transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

.threebox .fl-module-info-box {
	display: flex;
}

.threebox .fl-module-info-box .fl-module-content {
	/* padding-top: 50px; */
	/* padding-bottom: 90px; */
	/* padding-left: 18px; */
	/* padding-right: 18px; */
	background: rgba(0, 0, 0, 0.7);
	position: relative;
	padding: 10px;
}

.threebox .fl-module-info-box .fl-module-content:before, .threebox .fl-module-info-box .fl-module-content:after {
	content: "";
	width: 0%;
	height: 0%;
	position: absolute;
	visibility: hidden;
	border-radius: 2px;
}

.threebox .fl-module-info-box .fl-module-content:before {
	border-top: 10px solid #f9c82c;
	border-right: 10px solid #f9c82c;
	transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
	top: 0;
	left: 0;
}

.threebox .fl-module-info-box .fl-module-content:after {
	border-left: 10px solid #f9c82c;
	border-bottom: 10px solid #f9c82c;
	bottom: 0;
	right: 0;
	transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}

.threebox .fl-module-info-box .uabb-infobox {
	background: none;
}

.dual-button .uabb-btn-one span,
.dual-button .uabb-btn-two span {
	padding: 6px 14px;
}

.dual-button .uabb-btn-one i,
.dual-button .uabb-btn-two i {
	margin-left: 5px;
}

.dual-button .uabb-btn-one {
	background: #fff;
	line-height: 1;
	font-size: 18px;
	color: #DD4600;
	border-radius: 3px;
	border: 2px solid #DD4600;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	color: #DD4600 !important;
}

.dual-button .uabb-btn-one span {
	color: #DD4600 !important;
}

.dual-button .uabb-btn-one:hover {
	background: #fff;
}

.dual-button .uabb-btn-two {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.dual-button .uabb-btn-two:hover, .dual-button .uabb-btn-two:active, .dual-button .uabb-btn-two:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.dual-button .uabb-btn-two i {
	color: #fff;
}

/*
 * Section tin mới
 */
.colum-tin-moi {
	position: relative;
}

.colum-tin-moi .tin-moi-nhat {
	background: #fff;
	margin-right: 10px;
	padding-left: 25px;
	border-top: 4px solid #F9C82C;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.colum-tin-moi .fl-post-carousel {
	position: static;
	padding: 0;
}

.colum-tin-moi .fl-post-carousel .fl-post-carousel-post {
	border: none;
}

.colum-tin-moi .fl-post-carousel .fl-post-carousel-post .fl-post-carousel-title {
	font-size: 18px;
	margin: 0;
}

.colum-tin-moi .fl-post-carousel .fl-post-carousel-post .fl-post-carousel-meta {
	padding: 0;
	color: #B3ABAA;
	font-size: 11px;
	letter-spacing: 0.1em;
}

.colum-tin-moi .fl-post-carousel .fl-post-carousel-post .fl-post-carousel-content p {
	font-size: 15px;
	line-height: 27px;
}

.colum-tin-moi .fl-post-carousel .fl-post-carousel-post img {
	height: 235px !important;
}

.colum-tin-moi .fl-post-carousel-navigation {
	top: 8%;
}

.colum-tin-moi .fl-post-carousel-navigation .carousel-next {
	right: 30px;
	color: #B3ABAA;
}

.colum-tin-moi .fl-post-carousel-navigation .carousel-prev {
	right: 52px;
	left: unset;
	color: #B3ABAA;
}

.colum-tin-moi .fl-post-carousel-navigation .fl-post-carousel-svg-container {
	width: 18px;
	height: 18px;
}

.bai-noi-bat {
	border-top: 4px solid #F9C82C;
}

/*
 * Section nhà tài trợ
 */
.partner-slider .slick-track {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.partner-slider .slick-track .slick-slide:focus {
	outline: none;
}

.partner-slider .uabb-image-carousel img {
	width: auto !important;
	margin: 0 auto;
}

/*
 * Footer
 */
.footer-ketnoi .fl-html i.fab {
	font-size: 18px;
	background: #39599F;
	color: #fff !important;
	border-radius: 50%;
	padding: 16px 20px;
	margin-right: 10px;
}

.footer-ketnoi .fl-html i.fab.fa-youtube {
	padding: 16px 15px;
	background: #C61D23;
}

.footer-ketnoi .fl-html i.fab.fa-instagram {
	padding: 16px 17.5px;
	background: #E1306C;
}

.footer-ketnoi .uabb-subscribe-form .uabb-form-field,
.footer-ketnoi .uabb-subscribe-form .uabb-form-button {
	padding: 0;
}

.footer-ketnoi .uabb-subscribe-form .uabb-form-field {
	width: 62%;
	padding-left: 5px;
}

.footer-ketnoi .uabb-subscribe-form .uabb-button {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: 700;
	border-radius: 0 3px 3px 0;
}

.footer-ketnoi .uabb-subscribe-form .uabb-button:hover, .footer-ketnoi .uabb-subscribe-form .uabb-button:active, .footer-ketnoi .uabb-subscribe-form .uabb-button:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.footer-ketnoi .uabb-subscribe-form .uabb-button i {
	color: #fff;
}

.hivietnam-widget .fl-rich-text a i,
.hivietnam-widget .fl-html a i {
	font-size: 12px;
	line-height: normal;
	color: #B3ABAA !important;
	margin-right: 5px;
}

.hivietnam-widget .fl-rich-text p,
.hivietnam-widget .fl-html p {
	margin-bottom: 18px;
}

.footer-widget-thongtin .fl-module-content {
	margin-left: 0;
}

.footer-widget-thongtin .fl-module-content .fl-icon-wrap {
	line-height: 27px;
}

.footer-widget-thongtin .fl-module-content .fl-icon {
	padding-top: 6px;
	vertical-align: top;
}

.hot-line-footer {
	position: fixed;
	bottom: 35px;
	left: 34px;
	z-index: 99999999999;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	background: #DD4600;
	border-radius: 99px;
	color: #fff !important;
	padding-right: 20px;
	display: flex;
	align-items: center;
}

.hot-line-footer i {
	font-size: 24px;
	border-radius: 50%;
	border: 4px solid #F89800;
	padding: 14px;
	margin-right: 9px;
}

@media (min-width: 1600px) {
	.section-gioithieu {
		position: relative;
	}
	.section-gioithieu .gioi-thieu__video {
		right: -10vw;
	}
	.section-gioithieu .gioi-thieu__video.left {
		left: -10vw;
	}
}

@media (min-width: 1200px) {
	.colum-tin-moi .fl-post-carousel .fl-post-carousel-post {
		width: 370px !important;
	}
}

@media (max-width: 1440px) {
	.gioi-thieu__video-right-text {
		margin-left: 53%;
	}
}

@media (max-width: 1280px) {
	.gioi-thieu__video-right-text {
		margin-left: 57%;
	}
	.gioi-thieu {
		margin-right: 10%;
	}
}

@media (max-width: 1199px) {
	.colum-tin-moi .tin-moi-nhat {
		margin-right: 0;
	}
}

@media (max-width: 1100px) {
	.section-gioithieu .fl-col-group {
		padding-top: 0;
		justify-content: center;
	}
	.section-gioithieu .fl-col-group .gioi-thieu__video.left {
		padding-top: 73px;
	}
	.gioi-thieu {
		margin-right: 0;
	}
	.gioi-thieu__video {
		position: inherit;
		transform: none;
	}
	.gioi-thieu__video-right-text {
		margin-left: 0;
	}
	.footer-widget-thongtin .fl-module-content {
		margin-left: 20px;
	}
	.section-post .fl-post-grid-post {
		margin-bottom: 23px;
	}
}

@media (max-width: 991px) {
	.fl-col-small {
		max-width: initial;
	}
	.section-gioithieu .fl-col-group {
		padding: 0;
	}
	.box-hero {
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.box-hero .box-hero__wrapper {
		padding: 40px 20px;
	}
	.box-hero .btn-primary {
		padding: 14px 28px;
	}
	.threebox .fl-col-group {
		margin: 0;
	}
	.threebox .fl-col-group .fl-col-small {
		max-width: 400px;
	}
	.section-post .fl-post-grid {
		display: flex;
		justify-content: center;
	}
	.statistic--item {
		display: flex;
		justify-content: center;
	}
	.statistic--item .fl-module-content {
		margin: 20px;
	}
}

@media (max-width: 575px) {
	.gioi-thieu__video .fluid-width-video-wrapper {
		height: auto;
	}
	.box-hero {
		transform: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
	}
	.box-hero .fl-node-content,
	.box-hero .fl-html {
		height: 100%;
	}
	.box-hero .box-hero__wrapper {
		height: 100%;
		padding: 83px 0;
	}
	.box-hero .box-hero__wrapper:before {
		border-radius: 0;
	}
	.box-hero .box-hero__img {
		display: none;
	}
	.box-hero .btn-primary,
	.box-hero .tim-hieu-them {
		font-size: 13px;
	}
	.box-hero .tim-hieu-them {
		margin-top: 10px;
		margin-right: 0;
	}
}

.single-post,
.page-category {
	font-size: 15px;
	line-height: 27px;
	color: #1A1312;
}

.single-post .single-post-title .fl-heading-text,
.page-category .single-post-title .fl-heading-text {
	font-size: 36px;
	line-height: normal;
	color: #1A1312;
}

.single-post .post-meta,
.single-post .post-meta a,
.page-category .post-meta,
.page-category .post-meta a {
	font-size: 11px;
	line-height: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #B3ABAA;
}

.single-post .single-post-term,
.page-category .single-post-term {
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #1A1312;
	font-weight: 700;
}

.single-post .bai-lien-quan .fl-post-grid-post,
.page-category .bai-lien-quan .fl-post-grid-post {
	border: none;
}

.single-post .bai-lien-quan .fl-post-text,
.page-category .bai-lien-quan .fl-post-text {
	padding: 14px 0;
}

.single-post .bai-lien-quan .fl-post-title a,
.page-category .bai-lien-quan .fl-post-title a {
	font-size: 16px;
	line-height: normal;
	color: #1A1312;
}

.single-post .widgettitle,
.page-category .widgettitle {
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 0;
	color: #1A1312;
}

.single-post .widget-sidebar-single,
.page-category .widget-sidebar-single {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 4px solid #F9C82C;
	margin-bottom: 30px;
}

.single-post .widget-sidebar-single-dky,
.page-category .widget-sidebar-single-dky {
	border: 4px solid #F9C82C;
	margin-bottom: 30px;
}

.single-post .widget-sidebar-single-dky .widgettitle,
.page-category .widget-sidebar-single-dky .widgettitle {
	background: #F9C82C;
	margin: 0;
	padding: 13px 3px;
}

.single-post .widget-sidebar-single-dky .dky-content,
.page-category .widget-sidebar-single-dky .dky-content {
	padding: 20px;
}

.single-post .widget-sidebar-single-dky .dky-content p,
.page-category .widget-sidebar-single-dky .dky-content p {
	font-size: 16px;
	line-height: normal;
	color: #1A1312;
	font-weight: 700;
	margin-bottom: 30px;
}

.single-post .widget-sidebar-single-dky i,
.page-category .widget-sidebar-single-dky i {
	color: #B3ABAA;
	font-size: 16px;
	margin-right: 5px;
}

.single-post .widget-sidebar-single-dky .btn-primary,
.page-category .widget-sidebar-single-dky .btn-primary {
	font-size: 14px;
	padding: 11px 24px;
	font-weight: 700;
}

.single-page {
	font-size: 15px;
	line-height: 27px;
	color: #1A1312;
}

.single-page h1, .single-page h2, .single-page h3, .single-page h4, .single-page h5 {
	color: #1A1312;
}

.single-page .single-page-title .fl-heading-text {
	font-size: 36px;
	line-height: normal;
	color: #1A1312;
}

.page-category .list-post .fl-post-feed-post {
	display: flex;
	flex-flow: row wrap;
	border-bottom: none;
}

@media (max-width: 575px) {
	.page-category .list-post .fl-post-feed-post {
		display: block;
	}
}

.page-category .list-post .fl-post-feed-post:first-child {
	display: none;
}

.page-category .single-post-term h1 {
	text-transform: uppercase;
}

.page-lien-he .uabb-form-outter {
	width: 50%;
}

.page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%) !important;
}

.page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit:hover, .page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit:active, .page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit i {
	color: #fff;
}

.page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit:hover, .page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit:active, .page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit:focus {
	color: #fff !important;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%) !important;
}

.page-lien-he .uabb-module-content.uabb-contact-form .uabb-contact-form-submit i {
	margin-left: 15px;
}

.post-template-single-long-form .longform-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.95);
	text-align: center;
	z-index: 1;
	visibility: visible;
	opacity: 1;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	padding: 5px 0;
}

.post-template-single-long-form .back-to-site:before {
	background: center center no-repeat;
	background-image: url(images/icon-arrow.png), linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	width: 60px;
	content: '';
	top: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.post-template-single-long-form .fl-page-content {
	overflow: hidden;
}

.post-template-single-long-form .fl-page-content .container {
	margin-top: 70px;
}

@media (max-width: 991px) {
	.post-template-single-long-form .fl-page-content .container {
		margin-top: 50px;
	}
}

.post-template-single-long-form.single-post {
	font-size: 17px;
}

.post-template-single-long-form .fl-page-content .container .row {
	margin: 0;
}

@media (min-width: 992px) {
	.post-template-single-long-form .fl-content {
		margin: 0;
	}
}

.post-template-single-long-form .fl-post-thumb {
	margin-top: 0;
}

.post-template-single-long-form .content {
	margin: 0 auto;
}

.post-template-single-long-form .full-width,
.post-template-single-long-form .fl-post-thumb > img {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw !important;
	margin-right: -50vw !important;
	max-width: none !important;
}

.post-template-single-long-form .wide {
	width: 75vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -38vw !important;
	margin-right: -38vw !important;
	max-width: none !important;
}

.post-template-single-long-form figure.cover {
	overflow: unset;
}

.post-template-single-long-form figure.cover:hover .wp-caption-text {
	margin-bottom: 0;
}

.post-template-single-long-form figure.cover:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
}

.post-template-single-long-form figure.cover .wp-caption-text {
	background: none;
	z-index: 99;
	font-size: 32px;
	bottom: 47%;
}

.post-template-single-long-form figure.cover .wp-caption-text strong,
.post-template-single-long-form figure.cover .wp-caption-text em {
	color: inherit;
}

.post-template-single-long-form figure.cover-wide:before {
	margin-left: -38vw;
	margin-right: -38vw;
	width: 75vw;
	left: 50%;
	right: 50%;
}

.post-template-single-long-form figure.cover-fullwidth:before {
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	left: 50%;
	right: 50%;
}

.post-template-single-long-form .post_item_single > .post_featured {
	overflow: unset;
	display: block;
	margin-bottom: 1.8em;
}

.post-template-single-long-form .dropcap:first-letter {
	font-size: 60px;
	line-height: 60px;
	display: block;
	float: left;
	margin-top: 5px !important;
	margin-right: 10px;
	padding: 5px 9px;
	color: #fff;
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	font-weight: bold;
}

.post-template-single-long-form iframe {
	display: flex;
	margin: 0 auto;
}

.post-template-single-long-form footer {
	display: none;
}

.post-template-single-long-form .mfp-content {
	background: #fff;
	max-width: 700px;
	padding: 30px;
}

.post-template-single-long-form .open-popup-link {
	text-align: center;
	cursor: pointer;
	background: #000;
	color: #fff;
	padding: 87px 0;
	font-size: 50px;
}

.post-template-single-long-form .open-popup-link a {
	color: #fff;
	margin-left: 15px;
}

.post-template-single-long-form .open-popup-link a:hover {
	text-decoration: none;
}

@media (min-width: 1100px) {
	.post-template-single-long-form .fl-page-content .container {
		width: 700px;
	}
	.post-template-single-long-form .right {
		margin-right: -150px;
	}
	.post-template-single-long-form .left {
		margin-left: -150px;
	}
}

@media (max-width: 575px) {
	.post-template-single-long-form .alignleft,
	.post-template-single-long-form .alignright {
		width: 100%;
	}
}

.hoidong-team .uabb-team-content {
	opacity: 0;
	transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
	background: #f9c82c;
	position: relative;
	overflow: inherit;
	margin-top: 10px;
}

.hoidong-team .uabb-team-content:before {
	content: "";
	position: absolute;
	top: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffbf00;
	transform: translate(-50%, 0);
}

.hoidong-team:hover .uabb-team-content {
	opacity: 1;
}

.post-type-archive-bai-du-thi .fl-post-grid .uabb-blog-posts-masonary,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-blog-posts-masonary {
	margin: 0;
	margin-top: 50px;
}

.post-type-archive-bai-du-thi .fl-post-grid .uabb-masonary-filters-wrapper,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters-wrapper {
	padding: 0 15px;
	margin-top: 37px;
}

.post-type-archive-bai-du-thi .fl-post-grid .uabb-masonary-filters,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

.post-type-archive-bai-du-thi .fl-post-grid .uabb-masonary-filters li,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters li {
	display: flex;
	align-items: center;
	margin-left: 0;
	border-right: 1px solid #000000;
	line-height: 13px;
	margin-top: 19px;
	margin-bottom: 24px;
	padding: 0 8px;
	border-radius: unset;
}

.post-type-archive-bai-du-thi .fl-post-grid .uabb-masonary-filters i,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters i {
	margin-right: 10px;
}

.post-type-archive-bai-du-thi .fl-post-grid .uabb-masonary-filters li:nth-child(2):before,
.post-type-archive-bai-du-thi .fl-post-grid .uabb-masonary-filters li:nth-child(3):before,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters li:nth-child(2):before,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters li:nth-child(3):before {
	font-family: "Font Awesome 5 Free";
	speak: none;
	font-size: 30px;
	margin-right: 10px;
	color: #B3ABAA;
}

.post-type-archive-bai-du-thi .fl-post-grid .uabb-masonary-filters li:last-child,
.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters li:last-child {
	border: none;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-image a:before,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-image a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	transition: .3s ease all;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-votes,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-votes {
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.05em;
	padding: 9px 10px 8px;
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: 13px;
	font-family: "Arima Madurai", sans-serif;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-votes:hover, .post-type-archive-bai-du-thi .fl-post-grid .fl-post-votes:active, .post-type-archive-bai-du-thi .fl-post-grid .fl-post-votes:focus,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-votes:hover,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-votes:active,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-votes:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-votes i,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-votes i {
	color: #fff;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-text,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-text {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-title a,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-title a {
	transition: .3s ease all;
	font-size: 18px;
	color: #FFFFFF;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-title a:hover,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-title a:hover {
	color: #f97300;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-user,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-user {
	font-size: 15px;
	line-height: 27px;
	color: #F6F6F6;
	padding: 0;
	font-weight: 400;
	margin: 0;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-icon,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-icon {
	position: absolute;
	top: 20px;
	right: 20px;
}

.post-type-archive-bai-du-thi .fl-post-grid .fl-post-icon i,
.post-type-archive-bai-du-thi .grid-bai-du-thi .fl-post-icon i {
	font-size: 30px;
	color: rgba(255, 255, 255, 0.6);
}

.post-type-archive-bai-du-thi .fl-post-grid #infscr-loading,
.post-type-archive-bai-du-thi .grid-bai-du-thi #infscr-loading {
	bottom: -70px;
}

.post-type-archive-bai-du-thi .fl-module-post-grid a.fl-button {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.post-type-archive-bai-du-thi .fl-module-post-grid a.fl-button:hover, .post-type-archive-bai-du-thi .fl-module-post-grid a.fl-button:active, .post-type-archive-bai-du-thi .fl-module-post-grid a.fl-button:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.post-type-archive-bai-du-thi .fl-module-post-grid a.fl-button i {
	color: #fff;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi {
	position: absolute;
	top: 0;
	margin-top: 10px;
}

@media (max-width: 700px) {
	.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi {
		margin-top: 60px;
	}
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two {
	background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
	line-height: 1;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	display: inline-block;
	transition: all 0.3s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
	display: flex;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one:hover, .post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one:active, .post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one:focus,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two:hover,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two:active,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two:focus {
	color: #fff;
	background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%);
	border: none;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one i,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two i {
	color: #fff;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one span,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two span {
	padding: 0;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one i,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two i {
	margin: 0;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one .uabb-btn-img-icon,
.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-two .uabb-btn-img-icon {
	margin-right: 5px;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi .uabb-btn-one span {
	color: #fff !important;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn {
	padding: 12px 24px;
	font-weight: 700;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn:before {
	font-family: "Font Awesome 5 Free";
	font-size: 12px;
	margin-right: 5px;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn.vong-so-loai, .post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn.preliminary-round {
	margin-right: 22px;
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn.vong-so-loai:before, .post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn.preliminary-round:before {
	content: "\f2f6";
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn.vong-chung-ket:before, .post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn.final-round:before {
	content: "\f091";
}

.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn.final-round {
	margin-right: 22px;
}

.single-bai-du-thi {
	font-size: 15px;
	line-height: 27px;
	color: #1A1312;
}

.single-bai-du-thi .post-navigation a {
	font-size: 18px;
	line-height: 26px;
}

.single-bai-du-thi .gallery-thumbnail img {
	object-fit: cover;
}

.single-bai-du-thi .slider-gallery-thumbnail {
	margin-top: 25px;
	padding: 0 15px;
}

.single-bai-du-thi .slider-gallery-thumbnail img {
	margin: 0 13px;
	cursor: pointer;
}

@media (min-width: 1280px) {
	.single-bai-du-thi iframe {
		width: 100%;
		height: 500px;
	}
}

@media (max-width: 768px) {
	.single-bai-du-thi > .fl-row-content-wrap {
		padding: 0 15px !important;
	}
}

.statistic--item.statistic--single-duthi .fl-icon {
	padding-top: 2px;
}

.statistic--item.statistic--single-duthi .fl-callout {
	display: flex;
	justify-content: center;
}

.statistic--item.statistic--single-duthi .fl-callout-title {
	margin-top: 0;
	line-height: 1;
}

.baiduthi-wrap {
	position: relative;
}

.vongsoloai-wrap {
	position: absolute;
	top: 70px;
}

.term-vongsoloai a {
	padding: 0 5px;
	font-size: 14px;
	font-weight: 700;
}

.term-vongsoloai a.current {
	color: #f97300;
}

.filter-votes {
	position: absolute;
	top: 70px;
	right: 0;
}

.filter-votes .filter-votes-link a {
	padding: 0 8px 0 5px;
	font-size: 14px;
	font-weight: 700;
}

.filter-votes .filter-votes-link a.current {
	color: #f97300;
}

.no-post.term-vong-chung-ket .dual-button.dual-button-bai-du-thi .uabb-btn-two {
	display: none;
}

.list-baiduthi {
	margin-top: 30px;
}

.list-baiduthi .baiduthi {
	display: flex;
	align-items: center;
	border-bottom: none;
	margin-bottom: 20px;
}

.list-baiduthi .wv-tex .btn {
	display: none;
}

.slider-thumb-gallery {
	margin: 0 auto;
	padding: 40px;
	position: relative;
	display: flex;
}

.slider-thumb-gallery img {
	margin: 0 auto;
	object-fit: cover;
}

@media (max-width: 575px) {
	.slider-thumb-gallery {
		display: block;
	}
}

@media (max-width: 700px) {
	.filter-votes {
		right: 0;
		top: 0;
		left: 0;
	}
	.vongsoloai-wrap {
		top: 115px;
	}
	.post-type-archive-bai-du-thi .dual-button.dual-button-bai-du-thi a.btn {
		padding: 12px;
	}
	.post-type-archive-bai-du-thi .grid-bai-du-thi {
		margin-top: 120px;
	}
	.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-blog-posts-masonary {
		margin-top: 0;
	}
	.post-type-archive-bai-du-thi .grid-bai-du-thi .uabb-masonary-filters {
		margin-bottom: 0;
	}
}

.fl_recent_posts .widgettitle {
	font-size: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #1A1312;
	font-weight: 700;
	margin: 0 0 30px;
}

.fl_recent_posts .recent-post {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.recent-post__image {
	margin-right: 20px;
	position: relative;
}

.recent-post__image img {
	transition: all .3s ease;
	width: 100px;
	height: 70px;
}

.recent-post__image img:hover {
	opacity: 0.8;
}

.recent-post__text {
	flex: 1;
}

.recent-post__text .entry-title {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	line-height: 1.5;
}

.recent-post__text .entry-title a {
	color: #1A1312;
	font-weight: 600;
}

.recent-post__text .entry-title a:hover {
	color: #f97300;
}

.recent-post__text .entry-meta {
	font-size: 11px;
	line-height: 21px;
	color: #B3ABAA !important;
	margin-bottom: 0;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.recent-post__text .entry-meta span + span:before {
	margin-right: 5px;
}

.updated:not(.published) {
	display: none;
}

.fl-child-theme-trending {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.fl-child-theme-trending .widgettitle {
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #F97300;
	padding: 11px 18px 10px;
	margin: 0;
	text-transform: uppercase;
}

.fl-child-theme-trending-slide {
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

@media (max-width: 575px) {
	.fl-child-theme-trending-slide {
		padding: 10px 15px;
	}
}

.fl-child-theme-trending-slide .trending-shuffle {
	margin-left: 10px;
	padding: 11px;
}

.fl-child-theme-trending-slide .widgettitle {
	margin-right: 26px;
	flex: 0 0 130px;
	border-radius: 3px 0px 0px 3px;
}

.fl-child-theme-trending-slide .widgettitle img {
	margin-right: 5px;
}

.fl-child-theme-trending-slide .trending-items-container {
	flex: 1;
	overflow: hidden;
	margin-right: 17px;
}

.fl-child-theme-trending-slide .trending-items.js-trending-slide {
	white-space: nowrap;
	display: inline-block;
	animation-delay: 2s;
}

.fl-child-theme-trending-slide .trending-items.js-trending-slide:hover {
	animation-play-state: paused;
}

.fl-child-theme-trending-slide .trending-item {
	display: inline-block;
	margin: 0;
	padding-right: 40px;
}

.fl-child-theme-trending-slide .entry-title {
	font-size: 15px;
	display: inline-block;
	line-height: 27px;
	color: #1A1312;
	font-weight: 400;
	margin: 0;
}

.fl-child-theme-trending-slide .entry-title a {
	display: block;
}

.fl-child-theme-trending-slide .entry-title a:hover .entry-published {
	background: #111;
}

.fl-child-theme-trending-slide .entry-category {
	display: none;
}

@media (max-width: 575px) {
	.fl-child-theme-trending-slide {
		padding: 20px 10px;
		justify-content: center;
	}
	.fl-child-theme-trending-slide .widget-title {
		margin-right: 0;
	}
	.fl-child-theme-trending-slide .trending-items-container {
		flex: 100%;
		margin-top: 15px;
		margin-right: 0;
	}
	.fl-child-theme-trending-slide .trending-shuffle {
		display: none;
	}
}

.fl-child-theme-trending-rotate {
	padding: 60px 0;
	justify-content: center;
	flex-wrap: wrap;
	background: #f0f0f0;
}

.fl-child-theme-trending-rotate .trending-items-container {
	margin: 0 50px;
	width: 399px;
}

.fl-child-theme-trending-rotate .slick-slide {
	margin: 0 5px;
}

.fl-child-theme-trending-rotate .slick-list {
	margin: 0 -5px;
}

.fl-child-theme-trending-rotate .trending-item {
	margin-top: -10px;
}

.fl-child-theme-trending-rotate .entry-title {
	margin: 3px 0 0 0;
	font-size: 14px;
}

.fl-child-theme-trending-rotate .entry-title a {
	color: #fff;
}

.fl-child-theme-trending-rotate .entry-category a {
	font-size: 12px;
}

.fl-child-theme-trending-rotate .entry-published {
	display: none;
}

.fl-child-theme-trending-rotate .slick-next {
	background: #f0f0f0;
	color: #fff;
	padding: 7px 17px;
	border-radius: 15px;
	width: auto;
	height: auto;
	right: -50px;
}

.fl-child-theme-trending-rotate .slick-next:hover, .fl-child-theme-trending-rotate .slick-next:active, .fl-child-theme-trending-rotate .slick-next:focus {
	background: #4d6080;
	opacity: 1;
}

.fl-child-theme-trending-rotate .slick-next:before {
	display: none;
}

@media (max-width: 767px) {
	.fl-child-theme-trending-rotate {
		padding: 40px 0;
	}
	.fl-child-theme-trending-rotate .trending-items-container {
		margin: 20px 0 0 0;
		padding: 0 60px 0 20px;
		width: 100%;
	}
}
