.fl_recent_posts {
	.widgettitle {
		font-size: 16px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #1A1312;
		font-weight: 700;
		margin: 0 0 30px;
	}
	.recent-post {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

}

.recent-post__image {
	// flex: 0 0 80px;
	margin-right: 20px;
	position: relative;
	img {
		transition: all .3s ease;
		width: 100px;
		height: 70px;
		&:hover {
			opacity: 0.8;
		}
	}
}


.recent-post__text {
	flex: 1;
	.entry-title {
		font-size: 16px;
		font-weight: 700;
		margin: 0;
		line-height: 1.5;
		a {
			color: #1A1312;;
			font-weight: 600;
			&:hover {
				color: #f97300;
			}
		}
	}
	.entry-meta {
		font-size: 11px;
		line-height: 21px;
		color: #B3ABAA !important;
		margin-bottom: 0;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		span + span {
			// margin-left: 5px;
			&:before {
				margin-right: 5px;
			}
		}
	}
}

.updated:not(.published) {
	display: none;
}