.fl-child-theme-trending {
	width: 100%; // Flexbox container need this for slick slider.
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.widgettitle {
		text-align: center;
		font-size: 14px;
		color: #fff;
		background: #F97300;
		padding: 11px 18px 10px;
		margin: 0;
		text-transform: uppercase;
	}
}

.fl-child-theme-trending-slide {
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	@media (max-width: 575px) {
		padding: 10px 15px;
	}

	.trending-shuffle {
		margin-left: 10px;
		padding: 11px;
	}
	.widgettitle {
		margin-right: 26px;
		flex: 0 0 130px; // fixed width in case the widget title is too long.
		// line-height: 1.2;
		border-radius: 3px 0px 0px 3px;
		img {
			margin-right: 5px;
		}
	}
	.trending-items-container{
		flex: 1; // this will take the rest of free container.
		overflow: hidden;
		margin-right: 17px;
	}
	.trending-items.js-trending-slide {
		white-space: nowrap;
		display: inline-block;
		animation-delay: 2s;
		&:hover {
			animation-play-state: paused;
		}
	}
	.trending-item {
		display: inline-block;
		margin: 0;
		padding-right: 40px;
	}
	.entry-title {
		// font-family: $font__main;
		font-size: 15px;
		display: inline-block;
		line-height: 27px;
		color: #1A1312;
		font-weight: 400;
		margin: 0;
		a {
			display: block;
			&:hover {
				.entry-published {
					background: #111;
				}
			}
		}
	}
	.entry-category {
		display: none;
	}
	// .entry-published {
	// 	background: $color__meta-2;
	// 	color: $color__white;
	// 	@include font-size(1.2);
	// 	padding: 8px 9px;
	// 	margin-right: 15px;
	// 	border-radius: 3px;
	// 	display: inline-block;
	// 	transition: all 0.3s;
	// }
	@media (max-width: 575px) {
		padding: 20px 10px;
		justify-content: center;
		.widget-title {
			margin-right: 0;
		}
		.trending-items-container {
			flex: 100%;
			margin-top: 15px;
			margin-right: 0;
		}
		.trending-shuffle {
			display: none;
		}
	}
}

.fl-child-theme-trending-rotate {
	padding: 60px 0;
	justify-content: center;
	flex-wrap: wrap;
	background: #f0f0f0;
	.trending-items-container {
		margin: 0 50px;
		width: 399px;
	}

	// Add Space between slides so the text won't shown up near the arrow.
	.slick-slide {
		margin: 0 5px;
	}
	.slick-list {
		margin: 0 -5px;
	}

	.trending-item {
		margin-top: -10px;
	}
	.entry-title {
		margin: 3px 0 0 0;
		font-size: 14px;
		// font-family: $font__main;
		a {
			color: #fff;
			&:hover {
				// color: $color__main;
			}
		}
	}
	.entry-category a {
		font-size: 12px;
	}
	.entry-published {
		display: none;
	}
	.slick-next {
		background: #f0f0f0;
		color: #fff;
		padding: 7px 17px;
		border-radius: 15px;
		width: auto;
		height: auto;
		right: -50px;
		&:hover,
		&:active,
		&:focus {
			background: #4d6080;
			opacity: 1;
		}
		&:before {
			display: none;
		}
	}
	@media (max-width: 767px) {
		padding: 40px 0;
		.trending-items-container {
			margin: 20px 0 0 0;
			padding: 0 60px 0 20px;
			width: 100%;
		}
	}
}
