.post-type-archive-bai-du-thi {
	.fl-post-grid,
	.grid-bai-du-thi {
		.uabb-blog-posts-masonary {
			margin: 0;
			margin-top: 50px;
		}
		.uabb-masonary-filters-wrapper {
			padding: 0 15px;
			margin-top: 37px;
		}
		.uabb-masonary-filters {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			align-items: center;
			li {
				display: flex;
				align-items: center;
				margin-left: 0;

				border-right: 1px solid #000000;
				line-height: 13px;
				margin-top: 19px;
				margin-bottom: 24px;
				padding: 0 8px;
				border-radius: unset;
				// &:after {
				// 	content: '|';
				// 	width: 1px;
				// 	height: 16px;
				// }
			}
			i {
				margin-right: 10px;
			}
			li:nth-child(2):before,
			li:nth-child(3):before {
				font-family: "Font Awesome 5 Free";
				speak: none;
				font-size: 30px;
				margin-right: 10px;
				color: #B3ABAA;
			}
			// li:nth-child(2):before {
			// 	content: "\f083";
			// }
			// li:nth-child(3):before {
			// 	content: "\f03d";
			// }
			li:last-child {
				border: none;
			}
		}
		.fl-post-image a:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
			transition: .3s ease all;
		}
		.fl-post-votes {
			display: inline-block;
			font-weight: 700;
			letter-spacing: 0.05em;
			padding: 9px 10px 8px;
			@include btn-primary();
			font-size: 13px;
			font-family: "Arima Madurai", sans-serif;
		}
		.fl-post-text {
			position: absolute;
			width: 100%;
			bottom: 0;
		}
		.fl-post-title a {
			transition: .3s ease all;
			font-size: 18px;
			color: #FFFFFF;
			&:hover {
				color: #f97300;
			}
		}
		.fl-post-user {
			font-size: 15px;
			line-height: 27px;
			color: #F6F6F6;
			padding: 0;
			font-weight: 400;
			margin: 0;
		}
		.fl-post-icon {
			position: absolute;
			top: 20px;
			right: 20px;
			i {
				font-size: 30px;
				color: rgba(255, 255, 255, 0.6);
			}
		}


		#infscr-loading {
			bottom: -70px;
		}
	}

	.fl-module-post-grid a.fl-button {
		@include btn-primary();
	}

	.dual-button.dual-button-bai-du-thi {
		position: absolute;
		top: 0;
		margin-top: 10px;
		@media(max-width: 700px) {
			// position: static;
			margin-top: 60px;
		}
		.uabb-btn-one,
		.uabb-btn-two {
			@include btn-primary();
			font-size: 14px;
			display: flex;
			span {
				padding: 0;
			}
			i {
				margin: 0;
			}
			.uabb-btn-img-icon {
				margin-right: 5px;
			}
		}
		.uabb-btn-one {
			span {
				color: #fff !important;
			}
		}
		a.btn {
			padding: 12px 24px;
			font-weight: 700;
			&:before {
				font-family: "Font Awesome 5 Free";
				font-size: 12px;
				margin-right: 5px;
			}
			&.vong-so-loai,
			&.preliminary-round {
				margin-right: 22px;
				&:before {
					content: "\f2f6";
				}
			}
			&.vong-chung-ket:before,
			&.final-round:before {
				content: "\f091";
			}
			&.final-round {
				margin-right: 22px;
			}
		}

	}
}

.single-bai-du-thi {
	font-size: 15px;
	line-height: 27px;
	color: #1A1312;
	.post-navigation {
		a {
			font-size: 18px;
			line-height: 26px;
		}
	}
	.gallery-thumbnail {
		img {
			// height: 490px;
			object-fit: cover;
		}
	}
	.slider-gallery-thumbnail {
		margin-top: 25px;
		padding: 0 15px;
		img {
			margin: 0 13px;
			cursor: pointer;
		}
	}
	@media(min-width: 1280px) {
		iframe {
			width: 100%;
			// height: -webkit-fill-available;
			height: 500px;
		}
	}
	@media (max-width: 768px) {
		> .fl-row-content-wrap {
			padding: 0 15px !important;
		}
	}
}

.statistic--item.statistic--single-duthi {
	.fl-icon {
		padding-top: 2px;
	}
	.fl-callout {
		display: flex;
		justify-content: center;
	}
	.fl-callout-title {
		margin-top: 0;
		line-height: 1;
	}
}

.baiduthi-wrap {
	position: relative;
}

.vongsoloai-wrap {
	position: absolute;
	top: 70px;
}

.term-vongsoloai {
	a {
		padding: 0 5px;
		font-size: 14px;
		font-weight: 700;
		&.current {
			color: #f97300;
		}
	}
}

.filter-votes {
	position: absolute;
	top: 70px;
	right: 0;
	.filter-votes-link a {
		padding: 0 8px 0 5px;
		font-size: 14px;
		font-weight: 700;
		// border-right: 1px solid;
		&.current {
			color: #f97300;
		}
	}
}

.no-post {
	&.term-vong-chung-ket .dual-button.dual-button-bai-du-thi .uabb-btn-two {
		display: none;
	}
}

// Trang quản lý bài dự thi
.list-baiduthi {
	margin-top: 30px;
	.baiduthi {
		display: flex;
		align-items: center;
		border-bottom: none;
		margin-bottom: 20px;
	}
	.wv-tex .btn {
		display: none;
	}
}
.slider-thumb-gallery {
    margin: 0 auto;
    padding: 40px;
    position: relative;
    display: flex;
}
.slider-thumb-gallery img {
    margin: 0 auto;
    object-fit: cover;
}
@media(max-width: 575px){
    .slider-thumb-gallery {
        display: block;
    }
}



@media (max-width: 700px) {
	.filter-votes {
		right: 0;
		top: 0;
		left: 0;
	}
	.vongsoloai-wrap {
		top: 115px;
	}
	.post-type-archive-bai-du-thi {
		.dual-button.dual-button-bai-du-thi a.btn {
			padding: 12px;
		}
		.grid-bai-du-thi {
			margin-top: 120px;
			.uabb-blog-posts-masonary {
				margin-top: 0
			}
			.uabb-masonary-filters {
				margin-bottom: 0;
			}
		}
	}
}