.btn {
	@include btn-primary();
	font-size: 14px;
	padding: 11px 24px;
}
.btn-primary {
	@include btn-primary();
}
.btn-primary-2 {
	@include btn-primary-2();
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	td {
		padding: 8px 1.5em;
	}
}

i {
	color: #B3ABAA;
}

/*
 * Menu
 */
.fl-page-nav-right {
	text-align: left;
	.fl-page-header-wrap {
		border-bottom: none;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	}
}
.fl-page-header,
.fl-page-header.fl-page-header-fixed {
	border-top: 4px solid #F9C82C;
}
.fl-page-header {
	border-top: 4px solid #F9C82C;
	.col-md-8.fl-page-nav-col,
	.col-md-9.fl-page-fixed-nav-wrap,
	.col-md-3.fl-page-logo-wrap,
	.col-md-4.fl-page-header-logo-col {
		width: auto;
	}
	.navbar-nav {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		li>a {
			letter-spacing: 0.1em;
		}
	}
	.fl-page-header-row {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}
}
.fl-page-nav-right .fl-page-nav-wrap {
	.navbar-nav {
		li.menu_button {
			margin: 0 10px;
			&>a {
				color: #fff;
				padding: 8px 37px;
				letter-spacing: 0;
				font-weight: 700;
				text-transform: none;
			}
		}
		li.hot-line {
			margin-left: 70px;
			a {
				font-weight: 400;
				display: flex;
				padding-right: 0;
				margin-right: -35px;
				&:hover,
				&:hover * {
					color: #CA2000;
				}
			}
			i {
				font-size: 30px;
				color: #B3ABAA;
				transform: rotate(90deg);
			}
			.hot-line__text {
				display: flex;
				flex-flow: row wrap;
				margin-left: 20px;
				text-transform: none;
			}
			.hot-line__number {
				font-size: 18px;
				line-height: normal;
				color: #CA2000;
				width: 100%;
				font-weight: 700;
			}
		}
		li.btn-primary-2 {
			color: #CA2000 !important;
			border: 2px solid #DD4600 !important;
			a {
				color: #CA2000 !important;
				padding: 6px 37px;
			}
		}
	}
	a.fas,
	a.fab {
		color: #B3ABAA;
	}
}
.fl-page-nav-search a.fa-search {
	font-size: 13px;
	margin-left: 25px;
}


@media (min-width: 1100px) {
	.fl-full-width .fl-page-header .container {
		width: auto;
		max-width: 100%;
		margin: 0 40px;
		padding: 3px 0;
	}
}

@media (max-width: 1599px) {
	.fl-page-header .fl-page-header-row {
		justify-content: center;
	}
}

@media (max-width: 1440px) {
	.fl-full-width .fl-page-header .container {
		margin: 0;
	}
	.fl-page-header {
		.col-md-8.fl-page-nav-col,
		.col-md-9.fl-page-fixed-nav-wrap,
		.col-md-3.fl-page-logo-wrap,
		.col-md-4.fl-page-header-logo-col {
			padding: 0;
		}
	}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line {
		margin-left: 0;
	}
	.fl-page-header .navbar-nav li > a {
		// padding: 15px 11px;
	}
	.fl-page-nav-search {
		display: block;
		a.fa-search {
			margin-left: 10px;
		}
	}
}

@media (max-width: 1367px) {
	.fl-page-header {
		.col-md-8.fl-page-nav-col,
		.col-md-9.fl-page-fixed-nav-wrap,
		.col-md-3.fl-page-logo-wrap,
		.col-md-4.fl-page-header-logo-col {
			padding: 0;
		}
	}
	// .fl-page-nav-search {
	// 	display: none;
	// }
}

@media (max-width: 1280px) {
	.fl-page-header {
		.col-md-8.fl-page-nav-col,
		.col-md-9.fl-page-fixed-nav-wrap,
		.col-md-3.fl-page-logo-wrap,
		.col-md-4.fl-page-header-logo-col {
			padding: 0 15px;
		}
	}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.hot-line {
		display: none;
	}
}

@media (max-width: 1100px) {
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu_button {
		display: none;
	}
}

@media (max-width: 991px) {
	.fl-page-header .fl-page-header-row {
		justify-content: center;
	}
	.fl-page-header {
		.col-md-8.fl-page-nav-col,
		.col-md-9.fl-page-fixed-nav-wrap,
		.col-md-3.fl-page-logo-wrap,
		.col-md-4.fl-page-header-logo-col {
			padding: 0 15px;
		}
	}
}

@media(max-width: 575px) {
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu_button {
		margin: 10px;
	}
	li.menu_button.btn-primary a {
		color: #fff !important;
	}
}

/*
 * Hero
 */
.box-hero {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(38%,-50%);
	.box-hero__wrapper {
		position: relative;
		z-index: 0;
		padding: 70px 70px 62px 62px;
		&:before {
			background: rgba(0, 0, 0, 0.3);
			border-radius: 32px;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
	}

	.box-hero__img {
		margin-bottom: 15px;
	}

	.btn-primary {
		padding: 18px 51px;
		i {
			padding-left: 5px;
		}
	}
	.tim-hieu-them {
		font-size: 18px;
		line-height: normal;
		color: #FFFFFF;
		margin-left: 15px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6);
		padding-bottom: 2px;
	}
}


/*
 * Giới thiệu
 */

.section-gioithieu {
	.fl-col-group {
		padding: 73px 0 65px;
	}
	.fl-col {
		flex: unset;
	}
	.fl-heading-text {
		color: #1A1312;
		span {
			color: #B3ABAA;
		}
	}
}

.gioi-thieu__video {
	position: absolute;
	right: 8vw;
	width: 685px;
	// height: 495px;
	top: 49%;
	transform: translate(0%,-50%);
	@media (max-width: 1600px) {
		right: 0vw;
	}
	&.left {
		left: 8vw;
		top: 50%;
		@media (max-width: 1600px) {
			left: 0vw;
		}
	}
	.fluid-width-video-wrapper {
		height: 495px;
	}
}

.gioi-thieu__video-right-text {
	margin-left: 46%;
}

.gioi-thieu {
	font-size: 18px;
	line-height: 32px;
	color: #4D4949;
}


/*
 * Statistic
 */

.statistic--item {
	p {
		margin: 0;
	}
	.fl-callout-photo-left {
		display: flex;
	}
	.fl-callout-photo {
		padding-right: 16px;
		width: auto;
		transition: all .3s;
		&:hover {
			transform: scale(1.1);
		}
	}
	.fl-callout-title {
		padding: 0;
		margin-top: 10px;
	}
	.fl-callout-title-text {
		font-size: 36px;
		color: #F97300;
		font-weight: 500;
		line-height: 1;
	}
	.fl-callout-content {
		width: auto;
	}

}

.statistic-number {
	font-size: 36px;
		color: #F97300;
		font-weight: 500;
		line-height: 1;
}

.statistic-text {
	font-size: 16px;
	color: #1A1312;
}


/*
 * Section post(mansory)
 */

.section-post {
	.fl-post-grid-post .fl-post-image a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
		transition: .3s ease all;
	}
	.fl-post-grid-image,
	.fl-post-image {
		position: static;
	}
	.fl-post-grid-text,
	.fl-post-text {
		position: absolute;
		width: 100%;
		bottom: 0;
		h2 {
			line-height: 34px;
			a {
				transition: .3s ease all;
				font-size: 36px;
				color: #FFFFFF;
				&:hover {
					color: #f97300;
				}
			}
		}
	}
	.fl-post-grid-date,
	.fl-post-meta {
		font-size: 15px;
		line-height: 27px;
		color: #F6F6F6;
		padding: 0;
	}
	.fl-post-category {
		margin-bottom: 20px;
		a {
			font-size: 12px;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #1A1312;
			background: #F9C82C;
			padding: 6px 11px 5px;
		}
	}
}


/*
 * Section 3 box
 */

.threebox {
	.fl-col-group {
		margin: 0 -15px;
	}
	.uabb-infobox {
		.uabb-infobox-text p {
			padding: 0;
			display: flex;
			i {
				font-size: 14px;
				font-weight: 600;
				margin-right: 10px;
			}
		}
		.uabb-infobox-title-wrap {
			text-align: center;
			&:after {
				content: '';
				margin: 0 auto;
				margin-bottom: 25px;
				display: block;
				width: 80px;
				height: 1px;
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}

	.fl-col-group-equal-height .fl-col-content {
		flex-direction: row;
		transition: all .3s;
		&:hover {
			transform: translateY(-6px);
			box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
			.fl-module-info-box .fl-module-content {
				&:before,
				&:after {
					width: 100%;
					height: 100%;
					visibility: visible;
				}
				&:before {
					transition: width 0.1s ease, height 0.1s ease 0.1s;
				}
				&:after {
					transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
				}
			}
		}
	}
	.fl-module-info-box {
		display: flex;
		.fl-module-content {
			// border-style: solid;
			// border-color: #f9c82c;
			// border-top-width: 10px;
			// border-bottom-width: 10px;
			// border-left-width: 10px;
			// border-right-width: 10px;

			/* padding-top: 50px; */
			/* padding-bottom: 90px; */
			/* padding-left: 18px; */
			/* padding-right: 18px; */
			background: rgba(0,0,0,0.7);
			position: relative;
			padding: 10px;
			&:before,
			&:after {
				content: "";
				width: 0%;
				height: 0%;
				position: absolute;
				visibility: hidden;
				border-radius: 2px;
			}
			&:before {
				border-top: 10px solid #f9c82c;
				border-right: 10px solid #f9c82c;
				transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
				top: 0;
				left: 0;
			}
			&:after {
				border-left: 10px solid #f9c82c;
				border-bottom: 10px solid #f9c82c;
				bottom: 0;
				right: 0;
				transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
			}


		}
		.uabb-infobox {
			background: none;
		}
	}
}
.dual-button {
	.uabb-btn-one,
	.uabb-btn-two {
		span {
			padding: 6px 14px;
		}
		i {
			margin-left: 5px;
		}
	}
	.uabb-btn-one {
		@include btn-primary-2();
		color: #DD4600 !important;
		span {
			color: #DD4600 !important;
		}
		&:hover {
			background: #fff;
		}
	}
	.uabb-btn-two {
		@include btn-primary();
	}
}


/*
 * Section tin mới
 */

.colum-tin-moi {
	position: relative;
	.tin-moi-nhat {
		background: #fff;
		margin-right: 10px;
		padding-left: 25px;
		border-top: 4px solid #F9C82C;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	}
	.fl-post-carousel {
		position: static;
		padding: 0;
		.fl-post-carousel-post {
			border: none;
			.fl-post-carousel-title {
				font-size: 18px;
				margin: 0;
			}
			.fl-post-carousel-meta {
				padding: 0;
				color: #B3ABAA;
				font-size: 11px;
				letter-spacing: 0.1em;
			}
			.fl-post-carousel-content p {
				font-size: 15px;
				line-height: 27px;
			}
			img {
				height: 235px !important;
			}
		}
	}
	.fl-post-carousel-navigation {
		top: 8%;
		.carousel-next {
			right: 30px;
			color: #B3ABAA;
		}
		.carousel-prev {
			right: 52px;
			left: unset;
			color: #B3ABAA;
		}
		.fl-post-carousel-svg-container {
			width: 18px;
			height: 18px;
		}
	}
}

.bai-noi-bat {
	border-top: 4px solid #F9C82C;
}


/*
 * Section nhà tài trợ
 */

.partner-slider {
	.slick-track {
		margin: 0 auto;
		display: flex;
		align-items: center;
		.slick-slide:focus {
			outline: none;
		}
	}
	.uabb-image-carousel img {
		width: auto !important;
		margin: 0 auto;
	}
}

/*
 * Footer
 */
.footer-ketnoi {
	.fl-html {
		i.fab {
			font-size: 18px;
			background: #39599F;
			color: #fff !important;
			border-radius: 50%;
			padding: 16px 20px;
			margin-right: 10px;
		}
		i.fab.fa-youtube {
			padding: 16px 15px;
			background: #C61D23;
		}
		i.fab.fa-instagram {
			padding: 16px 17.5px;
			background: #E1306C;
		}
	}
	.uabb-subscribe-form {
		.uabb-form-field,
		.uabb-form-button {
			padding: 0;
		}
		.uabb-form-field {
			width: 62%;
			padding-left: 5px;
		}
		.uabb-button {
			@include btn-primary();
			font-size: 14px;
			font-weight: 700;
			border-radius: 0 3px 3px 0;
		}
	}
}

.hivietnam-widget {
	.fl-rich-text,
	.fl-html {
		a i {
			font-size: 12px;
			line-height: normal;
			color: #B3ABAA !important;
			margin-right: 5px;
		}
		p {
			margin-bottom: 18px;
		}
	}
}

.footer-widget-thongtin {
	.fl-module-content {
		margin-left: 0;
		.fl-icon-wrap {
			line-height: 27px;
		}
		.fl-icon {
			padding-top: 6px;
			vertical-align: top;
		}
	}
}

.hot-line-footer {
	position: fixed;
	bottom: 35px;
	left: 34px;
	z-index: 99999999999;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	background: #DD4600;
	border-radius: 99px;
	color: #fff !important;
	padding-right: 20px;
	display: flex;
	align-items: center;
	i {
		font-size: 24px;
		border-radius: 50%;
		border: 4px solid #F89800;
		padding: 14px;
		margin-right: 9px;
	}
}


@media(min-width: 1600px) {
	.section-gioithieu {
		position: relative;
		.gioi-thieu__video {
			right: -10vw;
		}
		.gioi-thieu__video.left {
			left: -10vw;
		}
	}
}


@media (min-width: 1200px) {
	.colum-tin-moi .fl-post-carousel .fl-post-carousel-post {
		width: 370px !important;
	}
}

@media (max-width: 1440px) {
	.gioi-thieu__video-right-text {
		margin-left: 53%;
	}
}

@media (max-width: 1280px) {
	.gioi-thieu__video-right-text {
		margin-left: 57%;
	}
	.gioi-thieu {
		margin-right: 10%;
	}
}

@media (max-width: 1199px) {
	.section-post .fl-post-grid,
	.section-post .fl-post-grid .fl-post-grid-post {
		// width: auto !important;
	}
	.colum-tin-moi .tin-moi-nhat {
		margin-right: 0;
	}
}

@media (max-width: 1100px) {
	.section-gioithieu .fl-col-group {
		// padding: 0;
		padding-top: 0;
		// display: flex;
		justify-content: center;
		.gioi-thieu__video.left {
			padding-top: 73px;
		}
	}
	.gioi-thieu {
		margin-right: 0;
	}
	.gioi-thieu__video {
		position: inherit;
		transform: none;
	}
	.gioi-thieu__video-right-text {
		margin-left: 0;
	}
	.footer-widget-thongtin {
		.fl-module-content {
			margin-left: 20px;
		}
	}
	.section-post {
		.fl-post-grid-post {
			margin-bottom: 23px;
		}
	}
}

@media (max-width: 991px) {
	.fl-col-small {
		max-width: initial;
	}
	.section-gioithieu .fl-col-group {
		// display: block;
		padding: 0;
	}
	.box-hero {
		left: 50%;
		transform: translate(-50%, -50%);
		.box-hero__wrapper {
			padding: 40px 20px;
		}
		.btn-primary {
			padding: 14px 28px;
		}
	}
	.colum-tin-moi .fl-post-carousel .fl-post-carousel-post {
		// width: auto !important;
	}
	.threebox .fl-col-group {
		margin: 0;
		.fl-col-small {
			max-width: 400px;
		}
	}
	.section-post {
		.fl-post-grid {
			display: flex;
			justify-content: center;
		}

	}
	.statistic--item {
		display: flex;
		justify-content: center;
		.fl-module-content {
			margin: 20px;
		}
	}
}

@media (max-width: 575px) {
	.colum-tin-moi .fl-post-carousel .fl-post-carousel-post {
		// width: auto !important;
	}
	.gioi-thieu__video .fluid-width-video-wrapper {
		height: auto;
	}
	.box-hero {
		// display: none;
		transform: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		.fl-node-content,
		.fl-html {
			height: 100%;
		}
		.box-hero__wrapper {
			// display: flex;
			// flex-flow: row wrap;
			// justify-content: center;
			height: 100%;
			padding: 83px 0;
			&:before {
				border-radius: 0;
			}
		}
		.box-hero__img {
			display: none;
		}
		.btn-primary,
		.tim-hieu-them {
			font-size: 13px;
		}
		.tim-hieu-them {
			margin-top: 10px;
			margin-right: 0;
		}
	}
}