.single-post,
.page-category {
	font-size: 15px;
	line-height: 27px;
	color: #1A1312;
	.single-post-title .fl-heading-text {
		font-size: 36px;
		line-height: normal;
		color: #1A1312;
	}
	.post-meta,
	.post-meta a {
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #B3ABAA;;
	}
	.single-post-term {
		font-size: 16px;
		line-height: normal;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #1A1312;
		font-weight: 700;
	}
	.bai-lien-quan {
		.fl-post-grid-post {
			border: none;
		}
		.fl-post-text {
			padding: 14px 0;
		}
		.fl-post-title a {
			font-size: 16px;
			line-height: normal;
			color: #1A1312;
		}
	}
	.widgettitle {
		font-size: 16px;
		line-height: normal;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 30px;
		margin-top: 0;
		color: #1A1312;
	}
	.widget-sidebar-single {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 4px solid #F9C82C;
		margin-bottom: 30px;
	}
	.widget-sidebar-single-dky {
		border: 4px solid #F9C82C;
		margin-bottom: 30px;
		.widgettitle {
			background: #F9C82C;
			margin: 0;
			padding: 13px 3px;
		}
		.dky-content {
			padding: 20px;
			p {
				font-size: 16px;
				line-height: normal;
				color: #1A1312;
				font-weight: 700;
				margin-bottom: 30px;
			}
		}
		i {
			color: #B3ABAA;
			font-size: 16px;
			margin-right: 5px;
		}
		.btn-primary {
			font-size: 14px;
			padding: 11px 24px;
			font-weight: 700;
		}
	}
}
.single-page {
	font-size: 15px;
	line-height: 27px;
	color: #1A1312;
	h1,h2,h3,h4,h5 {
		color: #1A1312;
	}
	.single-page-title .fl-heading-text {
		font-size: 36px;
		line-height: normal;
		color: #1A1312;
	}
}

.page-category {
	.list-post {
		.fl-post-feed-post {
			display: flex;
			flex-flow: row wrap;
			border-bottom: none;
			@media(max-width: 575px) {
				display: block;
			}
			&:first-child {
				display: none;
			}
		}
	}
	.single-post-term h1 {
		text-transform: uppercase;
	}
}

.page-lien-he {
	.uabb-form-outter {
		width: 50%;
	}
	.uabb-module-content.uabb-contact-form .uabb-contact-form-submit {
		@include btn-primary();
		background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%) !important;
		&:hover,
		&:active,
		&:focus {
			color: #fff !important;
			background-image: linear-gradient(90deg, #CA2000 0%, #F97300 100%) !important;
		}
		i {
			margin-left: 15px;
		}
	}
}


// Single Longform
.post-template-single-long-form {
	.longform-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		left: 0;
		right: 0;
		background: rgba(0,0,0,.95);
		text-align: center;
		z-index: 1;
		visibility: visible;
		opacity: 1;
		transition: all .3s;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		padding: 5px 0;
	}
	.back-to-site {
		&:before {
			background: center center no-repeat;
			background-image: url(images/icon-arrow.png),linear-gradient(90deg, #F97300 0%, #CA2000 100%);
			width: 60px;
			content: '';
			top: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	.fl-page-content {
		overflow: hidden;
		.container {
			margin-top: 70px;
			@media(max-width: 991px) {
				margin-top: 50px;
			}
		}
	}
	&.single-post {
		font-size: 17px;
	}
	.fl-page-content .container {
		.row {
			margin: 0;
		}
	}
	.fl-content {
		@media(min-width: 992px) {
			margin: 0;
		}
	}
	.fl-post-thumb {
		margin-top: 0;
	}
	.content {
		margin: 0 auto;
	}
	.full-width,
	.fl-post-thumb > img {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw !important;
		margin-right: -50vw !important;
		max-width: none !important;
	}
	.wide {
		width: 75vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -38vw !important;
		margin-right: -38vw !important;
		max-width: none !important;
	}
	figure.cover {
		overflow: unset;
		&:hover .wp-caption-text {
			margin-bottom: 0;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,.5);
			z-index: 99;
		}
		.wp-caption-text {
			background: none;
			z-index: 99;
			font-size: 32px;
			bottom: 47%;
			strong,
			em {
				color: inherit;
			}
		}
	}
	figure.cover-wide:before{
		margin-left: -38vw;
		margin-right: -38vw;
		width: 75vw;
		left: 50%;
		right: 50%;
	}
	figure.cover-fullwidth:before{
		margin-left: -50vw;
		margin-right: -50vw;
		width: 100vw;
		left: 50%;
		right: 50%;
	}

	.post_item_single > .post_featured {
		overflow: unset;
		display: block;
		margin-bottom: 1.8em;
	}
	.dropcap:first-letter {
		font-size: 60px;
		line-height: 60px;
		display: block;
		float: left;
		margin-top: 5px!important;
		margin-right: 10px;
		padding: 5px 9px;
		color: #fff;
		background-image: linear-gradient(90deg, #F97300 0%, #CA2000 100%);
		font-weight: bold;
	}
	iframe {
		display: flex;
		margin: 0 auto;
	}
	footer {
		display: none;
	}
	.mfp-content {
		background: #fff;
		max-width: 700px;
		padding: 30px;
	}
	.open-popup-link {
		text-align: center;
		cursor: pointer;
		background: #000;
		color: #fff;
		padding: 87px 0;
		font-size: 50px;
		a {
			color: #fff;
			margin-left: 15px;
			&:hover {
				text-decoration: none;
			}
		}
	}

	@media(min-width: 1100px) {
		.fl-page-content .container {
			width: 700px;
		}
		.right {
			margin-right: -150px;
		}
		.left {
			margin-left: -150px;
		}
	}
	@media(max-width: 575px) {
		.alignleft,
		.alignright {
			width: 100%;
		}
	}
}

// Page Hội đồng chuyên môn
.hoidong-team {
	.uabb-team-content {
		opacity: 0;
		transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
		background: #f9c82c;
		position: relative;
		overflow: inherit;
		margin-top: 10px;
		&:before {
			content: "";
			position: absolute;
			top: -10px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #ffbf00;
			transform: translate(-50%, 0);
		}
	}
	&:hover {
		.uabb-team-content {
			opacity: 1;
		}
	}
}